.env
cog_example.py
/pycache/*
__pycache__/*
./lib/pycache/*
./data/__pycache__/*
./cogs/output.txt
./extensions/__pycache__/*
./cogs/__pycache__/*
./cogs/__pycache__
./cogs/__pycache__/__init__.cpython-38.pyc
./data/user/*
./data/guild/*
./data/__pycache__/*
./data/lists/*
data/user/*